<p-panel header="Pipes de uso no común" class="p-2">
  <p class="text-3xl font-medium text-orange-400">
    Pipes incluidos en Angular - Usualemente en el common Module
  </p>
</p-panel>


<div class="grid">

  <div class="col-12 md:col-6">
      <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
          <p>
            Saludos {{ name }}, es un placer
            {{ gender | i18nSelect:invitationMap }}
            a nuestro evento
          </p>
          <p-button
            (click)="changeClient()"
            label="Cambiar persona">

          </p-button>

      </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente {{ clients.length | i18nPlural:clientsMap }}
      </p>
      <p-button
        label="Borrar cliente"
        (click)="deleteClient()">
      </p-button>
    </p-fieldset>
  </div>


  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>
      <b>slice:0</b>
      <pre>{{ clients | slice:0 }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clients | slice:0:3 }}</pre>
      <b>slice:1:4</b>
      <pre>{{ clients | slice:1:4}}</pre>

      <b>slice:0:-3</b>
      <pre>{{ clients | slice:0:-3 }}</pre>

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre> {{ person | json }} </pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValuePipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b> {{ item.key | titlecase }}: </b> {{ item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer | async )">Resolviendo myObservableTimer</pre>
      <pre> {{ myObservableTimer | async }}</pre>

      <pre *ngIf="!(myPromiseValue | async )">Resolviendo promesa</pre>
      <pre> {{ myPromiseValue | async }}</pre>

    </p-fieldset>
  </div>

</div>
