<p-panel header="Pipes básicos textos y fechas" class="p-2">
  <p class="text-3xl font-medium text-orange-400">
    Pipes incluidos en Angular - Usualemente en el common Module
  </p>
</p-panel>


<div class="grid">

  <div class="col-12 md:col-4 lg:col-3">
      <p-card header="upperCase">
        <span class="text-yellow-200">
          {{ nameUpper | uppercase}}
        </span>
      </p-card>
  </div>

  <div class="col-12 md:col-4 lg:col-3">
    <p-card header="lowerCase">
      <span class="text-yellow-200">
        {{ nameLower | lowercase }}
      </span>
    </p-card>
  </div>

  <div class="col-12 md:col-4 lg:col-3">
    <p-card header="titleCase">
      <span class="text-yellow-200">
        {{ nameTitle | titlecase }}
      </span>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="DatePipe" subheader="variable | date [ : format [ : timezone [ : locale ] ] ]">
      <span class="text-yellow-200">
        <ol>
          <li> fecha  </li>
          <li> fecha | date </li>
          <li> fecha | date:'short' </li>
          <li> fecha | date:'long' </li>
          <li> fecha | date:'MMMM' </li>
          <li> fecha | date:'dd, MMMM, yyyy' </li>
        </ol>
        <hr>
        <ol>
          <li> fecha | date: 'long':'GMT+2'</li>
          <li> fecha | date: 'long':'GMT+5'</li>
          <li> fecha | date: 'long':'':'es'</li>
          <li> fecha | date: 'long':'':'en-US'</li>
          <li> fecha | date: 'long':'':'Fr-CA'</li>
        </ol>
      </span>
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="DatePipe"
    subheader="variable | date [ : format [ : timezone [ : locale ] ] ]">
      <span class="text-yellow-200">
        <ol>
          <li> {{ customDate }} </li>
          <li> {{ customDate | date }}  </li>
          <li> {{ customDate | date:'short' }}  </li>
          <li> {{ customDate | date:'long' }}  </li>
          <li> {{ customDate | date:'MMMM' }}  </li>
          <li> {{ customDate | date:'dd, MMMM, yyyy' }}  </li>
        </ol>

        <hr>
        <ol>
          <li>{{ customDate | date: 'long':'GMT+2' }}</li>
          <li>{{ customDate | date: 'long':'GMT+5' }}</li>
          <li>{{ customDate | date: 'long':'':'es' }}</li>
          <li>{{ customDate | date: 'long':'':'en-US' }}</li>
          <li>{{ customDate | date: 'long':'':'Fr-CA' }}</li>
        </ol>

      </span>
    </p-card>
  </div>

</div>
