<p-panel header="Pipes personalizados" class="p-2">
  <p class="text-3xl font-medium text-orange-400">
    Pipes personalizados de Angular - {{ 'creados por nosotros' | toggleCase:isUpperCase }}
  </p>
</p-panel>


<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="toggleCase"
      icon="pi pi-search"
      class="mr-2"
      styleClass="p-button-info"
      (onClick)="toggleUpperCase()">

    </p-button>

  </div>

  <div class="p-toolbar-group-end">
    <p-button
      label="Por nombre"
      icon="pi pi-sort"
      class="mr-2"
      styleClass="p-button-success"
      (click)="selectOrder('name')">
    </p-button>

    <p-button
      label="Por vuelo"
      icon="pi pi-sort"
      styleClass="p-button-warning"
      class="mr-2"
      (click)="selectOrder('canFly')">
    </p-button>

    <p-button
      label="Por color"
      icon="pi pi-sort"
      styleClass="p-button-danger"
      (click)="selectOrder('color')">
    </p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Vuela</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
            <tr>
                <td>{{ hero.name }}</td>
                <td>{{ hero.canFly | canFly }}</td>
                <td>{{ hero.color }}</td>
            </tr>
        </ng-template>
    </p-table>

    </p-panel>
  </div>
</div>
